[Unit]
Description=fileserver Service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/data/service/fileserver/
ExecStart=/data/service/fileserver/fileserver --configFile /data/service/fileserver/configs/config.yaml
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
